<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/jquery-3.6.3.min.js"></script>
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container p-5">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#list">总榜</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#best">好评榜</a>
    </nav>
    <div class="tab-content">
        <div id="list" class="container tab-pane active">
        </div>
        <div id="best" class="container tab-pane fade">
        </div>
    </div>
</div>
<footer class="fixed-bottom">
    <div class="container">
        <div class="text-end p-2">
            <button type="button" class="btn btn-primary" onclick="addRecommend()">我要推荐</button>
        </div>
    </div>
</footer>
</body>
<script type="text/javascript">
    $(function() {
        var tabsData = [{
            'id' : 'list',
            'url': 'list'
        },{
            'id': 'best',
            'url': 'best'
        }];

        //遍历数组，循环添加a标签click事件
        $(tabsData).each(function() {
            $("a[href='#" + this.id + "']").bind('click', {
                id: this.id,
                url: this.url
            }, tabsHandler);
        });

        //默认显示总榜的内容
        $('#list').load('list');

    });


    function tabsHandler(event) {
        var data = event.data;
        showTabs(data.id, data.url);
    }


    function showTabs(id, url) {
        $("a[href='#" + id + "']").tab('show');
        var tabContent = $('#' + id);
        if (tabContent.length < 100) {
            tabContent.load(url);
        }
    }


    function addRecommend(){
        window.open("writeMyRecommend");
    }

</script>
</html>