<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/jquery-3.6.3.min.js"></script>
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>我要推荐</title>
</head>
<body>
<div class="container">
    <form id="myRecommendForm">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label" for="bookName">书名</label>
          <div class="col-sm-10">
              <input id="bookName" name="bookName" type="text" class="form-control" required>
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label" for="author">作者名</label>
          <div class="col-sm-10">
              <input id="author" name="author" type="text" class="form-control" required>
          </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="platform">首发平台</label>
            <div class="col-sm-10">
                <select class="form-select" id="platform" name="platform">
                    <option value="1">晋江</option>
                    <option value="2">长佩</option>
                    <option value="3">海棠</option>
                    <option value="4">废文</option>
                    <option value="5">起点</option>
                    <option value="6">番茄</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="mainRoles">主要角色</label>
            <div class="col-sm-10">
                <input id="mainRoles" name="mainRoles" type="text" class="form-control"
                       placeholder="多个角色用空格分隔">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="rating">评分</label>
            <div class="col-sm-10 align-self-center">
                <img src="./img/star_hollow_hover.png" id="star1" width="20" height="20">
                <img src="./img/star_hollow_hover.png" id="star2" width="20" height="20">
                <img src="./img/star_hollow_hover.png" id="star3" width="20" height="20">
                <img src="./img/star_hollow_hover.png" id="star4" width="20" height="20">
                <img src="./img/star_hollow_hover.png" id="star5" width="20" height="20">
                <span id="ratingWords"></span>
                <input type="hidden" id="rating" name="rating">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="myComment">我的评价</label>
            <div class="col-sm-10">
                <textarea id="myComment" name="myComment" class="form-control" placeholder="快来写下你的评价吧~"
                          rows="10" >
                </textarea>
            </div>
        </div>
        <div class="col-12 text-end">
            <button class="btn btn-primary" type="submit" onclick="submitMyRecommend()">提交</button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">

var rating = ['很差', '较差', '还行', '推荐', '力荐'];
$(function() {
    var starIds = ['star1', 'star2', 'star3', 'star4', 'star5'];
    $(starIds).each(function() {
        $("#" + this).bind('mouseover', this, changeRating);
        $("#" + this).bind('mouseout', this, changeRating);
        $("#" + this).bind('click', this, changeRating);
    });
});


//修改评分
function changeRating(event) {
    var obj = event.target;
    var type = event.type;
    var data = event.data;
    var starId = data.substring(data.length-1, data.length);
    if ( type == 'mouseover' || type == 'click') {
        for (var i=1; i<=starId; i++) {
            var url = './img/star_onmouseover.png';
            $("#star" + i).attr('src', url);
        }
        $("#rating").val(starId);
        $("#ratingWords").text(rating[starId-1]);

        if (type == 'click') { //点击后取消mouseout和mouseover事件
            for (var i=1; i<=5; i++) {
                $("#star" + i).unbind('mouseout', changeRating);
                $("#star" + i).unbind('mouseover', changeRating);
            }
            if (starId < 5) {
                var tmp = Number(starId) + Number(1);
                for (var i=tmp; i<=5; i++){
                    var url = './img/star_hollow_hover.png';
                    $("#star" + i).attr('src', url);
                }
            }
        }
    }

    if ( type == 'mouseout') {
        var url = './img/star_hollow_hover.png';
        for (var i=1; i<=5; i++) {
            $("#star" + i).attr('src', url);
        }
        $("#ratingWords").text('');
        $("#rating").val(null);
    }

}


function submitMyRecommend() {
    $.ajax({
        url: '/addMyRecommend',
        data: $("#myRecommendForm").serialize(),
        method: 'post',
        dataType: 'json',
        contentType: 'application/json',
        success: function (result) {
            //Todo: alert显示提交结果
        }
    });
}
</script>
</html>