<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <properties>
        <property name="LOG_HOME">../../logs</property>
        <property name="LOG_NAME">user-service</property>
        <property name="LOG_FORMAT">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %p %t %c[%L] - %m %n</property>
        <property name="LOG_FORMAT_CONSOLE">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %highlight{%c{1.}.%M(%L)}: %msg%n%throwable
        </property>
        <property name="BACKUP_HOME">${LOG_HOME}/$${date:yyyy-MM}</property>
        <!--备份频率-->
        <property name="BACK_HZ">%d{yyyy-MM-dd}</property>
    </properties>
    <appenders>
       <!--控制台日志-->
        <console name="console" target="SYSTEM_OUT">
            <!-- windows平台highlight生效的配置 disableAnsi="false" -->
            <PatternLayout pattern="${LOG_FORMAT_CONSOLE}" disableAnsi="false" noConsoleNoAnsi="false"/>
        </console>
        <!--info级别日志输入到文件-->
        <RollingFile name="infoLog" fileName="${LOG_HOME}/${LOG_NAME}-info.log"
                     filePattern="${BACKUP_HOME}/info/${LOG_NAME}-info-${BACK_HZ}-%i.log.gz">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <!--每隔4小时封存一次日志-->
                <TimeBasedTriggeringPolicy modulate="true" interval="4"/>
                <!--基于日志大小切分日志-->
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <!--默认的文件大小处理策略，max表示filePattern配置的%i的最大值，即表示当前文件归档的最大数量-->
            <DefaultRolloverStrategt max="10">
                <!--删除处理策略，在配置的路径中搜索，maxDepth表示往下搜索的最大深度-->
                <Delete basePath="${BACK_HOME}/info/" maxDepth="2">
                    <!--文件名搜索匹配，支持正则-->
                    <IfFileName glob="${LOG_NAME}-info*.log.gz"/>
                    <!--最新修改时间超过7d则会被删除-->
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategt>
            <!--只保存info日志-->
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMisMatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMisMatch="DENY"/>
            </Filters>
        </RollingFile>

        <!--warn级别日志输入到文件-->
        <RollingFile name="warnLog" fileName="${LOG_HOME}/${LOG_NAME}-warn.log"
                     filePattern="${BACKUP_HOME}/info/${LOG_NAME}-warn-${BACK_HZ}-%i.log.gz">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="4"/>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategt max="10">
                <Delete basePath="${BACK_HOME}/warn/" maxDepth="2">
                    <IfFileName glob="${LOG_NAME}-warn*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategt>
            <!--只保存warn日志-->
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMisMatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMisMatch="DENY"/>
            </Filters>
        </RollingFile>


        <!--error级别日志输入到文件-->
        <RollingFile name="errorLog" fileName="${LOG_HOME}/${LOG_NAME}-error.log"
                     filePattern="${BACKUP_HOME}/info/${LOG_NAME}-error-${BACK_HZ}-%i.log.gz">
            <PatternLayout pattern="${LOG_FORMAT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="4"/>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategt max="10">
                <Delete basePath="${BACK_HOME}/error/" maxDepth="2">
                    <IfFileName glob="${LOG_NAME}-error*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategt>
            <!--只保存error日志-->
            <Filters>
                <ThresholdFilter level="ERROR"/>
            </Filters>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="infoLog"/>
            <appender-ref ref="warnLog"/>
            <appender-ref ref="errorLog"/>
        </root>
    </loggers>
</configuration>